.space{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.space input{
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid #212121;
    margin-right: 10px;
}
.search-button{
    background-color: #393838;
    color:aliceblue;
    padding: 1px;
    border: none;
    border-radius: 16px; 
    height: 34px;  
    width: 70px;
    font-size: 14px;
}
.search-button:hover{
    color: #313030;
    background-color: #f5f5f5;
    border: 2px solid #212121;
}